<div data-role="page" id="artworks">
  
  <div data-role="header" data-theme="b" data-position="inline">
      <h1>Browse By</h1>
      <a href="#home" data-icon="home" class="ui-btn-right" data-iconpos="notext">Home</a>
  </div><!-- /header -->
  
  <div data-role="content">
    <ul data-role="listview">
      <li>Artist
        <ul data-role="listview" data-theme"b" data-filter="true">
          <% @artists.each do |artist| %>
            <%if artist.creator%>
              <li><a href="/artworks/view_cat/category=creator&value=<%=artist.creator%>"><%=artist.creator%></a></li>
            <%end%>
          <% end %>
        </ul>
      </li>
      <li>Title
        <ul data-role="listview" data-theme"b" data-filter="true">
          <% @artworks.each do |artwork| %>
            <%if artwork.title%>
              <li><%= link_to artwork.title, artwork %></li>
            <%end%>
          <% end %>
        </ul>
      </li>       
      <li>Location
        <ul data-role="listview" data-theme"b" data-filter="true">
          <% @locations.each do |location| %>
            <%if location.location%>
              <li><a href="/artworks/view_cat/category=location&value=<%=location.location%>"><%=location.location%></a></li>
            <%end%>
          <% end %>
        </ul>
      </li>
      <li>Type
        <ul data-role="listview" data-theme"b" data-filter="true">
          <% @types.each do |type| %>
            <%if type.object%>
              <li><a href="/artworks/view_cat/category=object&value=<%=type.object%>"><%=type.object%></a></li>
            <%end%>
          <% end %>
        </ul>
      </li>
    </ul>  
  <div><!-- /content -->    
  
</div><!-- /page -->

