<%= form_for(@exhibition) do |f| %>
  <% if @exhibition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibition.errors.count, "error") %> prohibited this exhibition from being saved:</h2>

      <ul>
      <% @exhibition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :open %><br />
    <%= f.date_select :open %>
  </div>
  <div class="field">
    <%= f.label :close %><br />
    <%= f.date_select :close %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :image1 %><br />
    <%= f.text_field :image1 %>
  </div>
  <div class="field">
    <%= f.label :image2 %><br />
    <%= f.text_field :image2 %>
  </div>
  <div class="field">
    <%= f.label :image3 %><br />
    <%= f.text_field :image3 %>
  </div>
  <div class="field">
    <%= f.label :image4 %><br />
    <%= f.text_field :image4 %>
  </div>
  <div class="field">
    <%= f.label :image5 %><br />
    <%= f.text_field :image5 %>
  </div>
  <div class="field">
    <%= f.label :opening %><br />
    <%= f.time_select :opening %>
  </div>
  <div class="field">
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :opening_end %><br />
    <%= f.time_select :opening_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
